
@media screen and  (min-width: 100px){
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#BACK{
    background-color: #4ea0e400;
    position: fixed;
    top: 0;
    left: 0;
    width: 1363px;
    height: 100%;
    z-index: -3;
    background-size: cover;
    background-position: center;
}
#top{
    background: linear-gradient(rgba(0, 0, 0, 0.736),#3591ce),url(images/photo1.PNG);
    background-size: cover;
    background-position: center;
    height: 250vh;
    width: 1363px;
    z-index: -2;
}
.taskbar{
    width: 1339px;
    height: 150px;
    position: absolute;
    background-color: #4ea0e492;
    border-radius:20px;
    z-index: 1;
    left: 10px;
    top: 10px;


}
.taskbar img{
    width: 180px;
    margin: 10px;
}
.logo-text{
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 300%;
    color:#fff;
}
.search{
    position: absolute;
    height: 60px;
    width: 650px;
    top: 7.5%;
    left: 30%;

}
#search-bar{
    position: absolute;
    top: 20%;
    height: 100px;
    width: 800px;
    background-color: #ffffff50;
    border: 1px solid black;
    border-color: #4ea0e422;
    border-radius: 30px;
    padding-left: 50px;
    font-size: 300%;
}
#search-button{
    width: 70px;
    height: 70px;
    top: 35%;
    position: absolute;
    left: 730px;
    background-color: #357ace00;
    border: 1px solid black;
    border-color: #357ace00;
    z-index: 8;
}
#search-button img{
    width: 70px;
    height: 70px;
}
#suggestions {
list-style-type: none;
background-color: #fffffffd;
width: 790px;
margin: 0;
padding-left: 15px;
padding-top: 25px;
margin-top: 30vh;
display: none;
border-radius: 20px;
text-decoration: none ;
z-index: 9;
}
#suggestions li {
background-color: #0045bba7;
height: 150px;
width: 750px;
padding: 11px;
padding-top: 20px;
cursor: pointer;
border-radius: 10px;
margin-bottom:25px;
text-decoration: none;
display: inline-block;
text-align: center;
z-index: 9;
}
#suggestions li a {
color: #fff;
text-decoration: none;
font-size: 350%;
width: 200%;
height: 200%;
font-weight: bolder;
z-index: 9;
}

#suggestions li:hover {
background-color: #0045bb;
}
.search-bar-active #suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
display: block; /* Show the suggestions box when search bar is active */
}

.sign-in{
    position: absolute;
    width: 100px;
    height: 45px;
    top: 25%;
    left: 1185px; 
    display: none;
}
.sign-in b{ 
    position: absolute;
    top: 30%;
    font-size: 160%;
    color: black;
}
.sign-in img{
    width: 30px;
    height: 30px;
    padding-left: 85px;
    padding-right: 85px;
     padding-bottom: 7px;
    padding-top: 7px;
}

#contact{
    position: absolute;
    width: 200px;
    height: 70px;
    top: 110%;
    left: 780px; 
    cursor: pointer;
}
#contact b{
    position: absolute;
    top: 40%;
    color: #ffffff;
    font-size: 300%;
    z-index:-1;
}
#contact img{
    width: 70px;
    height: 60px;
    padding-left: 190px;
    padding-top: 0px;
    display: none;
}

#contactnav{
    width: 500px;
    height: 90vh;
    right: -500px;
    top: 45vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 50px;
    position: fixed;
    font-size: 230%;

}




#about{
    position: absolute;
    width: 200px;
    height: 70px;
    top: 110%;
    left: 1130px; 
    cursor: pointer;
}
#about b{
    position: absolute;
    top: 40%;
    color: #ffffff;
    font-size: 300%;
    z-index:-1;
}
#about img{ 
    width: 60px;
    height: 60px;
    padding-left: 150px;
    padding-top: 0px;
    display: none;
}

#aboutnav{
    width: 500px;
    height: 90vh;
    right: -500px;
    top: 45vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    font-size: 230%;
    border-radius: 50px;
    position: fixed;

}














.banner-text{
    display: inline-block;
    position: absolute;
    top: 40vh;
    left: 10%;
    width: 1100px;
    height: 105vh;
    font-size: 180%;
}
.banner-text h4{
    font-size: 400%;
    color: #ffffff;
    padding-top: 3vh;
}
.banner-text h1{
    padding-top: 6vh;
    font-size: 250%;
    color: #ffffff92;
}


.banner-btn {
    padding-top: 50vh;
    padding-left: 78%;
    width: 350px;
}
.banner-btn a{
    width: 400px;
    text-decoration: none ;
    display: inline-block;
    padding-top: 30px;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #4ea0e4a1;
    border-radius: 20px;
    height: 100px;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color:#357ace ;
}
.banner-btn b{
    font-size: 210%;
}

.banner-box{
    width:900px;
    height: 50vh;
    margin-top: 150vh;
    padding-left: 20%;
    display: inline-block;
    position: absolute;
}

.horizontal-scroll{
    width:600px;
    height: 70vh;
    padding: 1%;
    overflow-x: auto;
    white-space: nowrap;
    position: absolute;
    padding-top: 7vh;
}

.horizontal-scroll::-webkit-scrollbar{
  display: none; /* For Chrome, Safari, and Opera */
}

.horizontal-scroll img{
    width:600px;
    height: 70vh;
    padding: 1%;
    border-radius: 40px;
    display: inline-block;
    margin-right: 10px;
    opacity: 0.8;
    position: relative;
}


.scroll-box p{
    color: #fff;
    text-align: center;
    padding-top: 5%;
}
.scroll-box1{
    width: 550px;
    height: 70px;
    background-color: #ffffff2f;
    top: 83%;
    left: 110%;
    position: absolute;
    border-radius: 10px;
    display: none;
}
.scroll-box1 p{
    color: #fff;
    text-align: center;
    padding-top: 5%;
}
.scroll-box2{
    width: 550px;
    height: 70px;
    background-color: #ffffff2f;
    top: 83%;
    left: 212%;
    position: absolute;
    border-radius: 10px;
    display: none;
}
.scroll-box2 p{
    color: #fff;
    text-align: center;
    padding-top: 5%;
}

#menubtn{
    width: 200px;
    height: 200px;
    background: #4ea0e47e;
    text-align: center;
    position: fixed;
    right: 60px;
    top: 45vh;
    border-radius: 3px;
    z-index: 7;
    cursor: pointer;
    border-radius: 20px;
}
#menubtn img{
    width: 120px;
    margin-top: 55px;
}

#SideNav{
    width: 450px;
    height: 350vh;
    position: fixed;
    right: -450px;
    top: 0;
    background: #357acee7;
    z-index: 3;
    transition: 0.5s;
    text-align: left;
    border-radius: 10px;
}
#SideNav nav ul{
    padding-top: 460px;
}

#SideNav nav ul li{
    
    list-style: none;
    margin: 220px 100px;
    
}
#SideNav nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 300%;
    font-weight: bolder;
    
}

.banner-sqr p{
    width: 350px;
    height: 40vh;
    background-color: #ffffff4c;
    top: 55vh;
    position:absolute;
    left: 950px;
    border-radius: 50px;
    display: none;
}
.banner-sqr2 p{
    width: 350px;
    height: 20vh;
    background-color: #ffffff00;
    border: 1px solid black;
    border-color: #ffffff7b;
    top: 85vh;
    position:absolute;
    left: 800px;
    border-radius: 40px;
    display: none;
}
        

/*--features--*/


#feature{
    width:1363px;
    padding-top: 2vh;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
        margin: auto;
        font-size: 20px;
        color: black;
        font-weight: bold;
        position:relative;
        z-index: 1;
        display: inline-block;
        font-size: 200%;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#357ace9a,#fff);
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display:none;
}

.title-text h1{
   
    padding-top: 1%;
    font-size: 500%;
}

.line1 {
    height: 25vh;
    padding-top: 8vh ;
}

.line1 img{
    width: 150px;
    height: 110px;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    left: 150px;
    padding-top: 5%;
    display: none;
}
.line2{
    width: 370px;
    height: 15vh;
    display: inline-block;
    position: absolute;
    left: 930px;
    padding-top: 3vh;
    border-radius: 10px;
    background-color: #025dcd0a;
    display: none;
}
.line2 p{
    padding-left: 20px;
    padding-right: 20px;
}
.square1{
    width: 50px;
    height: 35px;
    position: absolute;
    left: 520px;
    top: 134.5vh;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    content: '';
    background: linear-gradient(#357ace9a,#fff);
    z-index: -1;
    transform: rotate(10deg);
    transform: scaleX(-1);
}
.square2{
    width: 50px;
    height: 35px;
    position: absolute;
    left: 520px;
    top: 138vh;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    content: '';
    background: linear-gradient(#357ace9a,#fff);
    z-index: -1;
    transform: rotate(10deg);
    transform: scaleY(-1);
}

.feature-box{
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-color: #025dcda0;
    border-radius: 20px;
    padding-left: 20px;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
    padding-top: 0.5%;
}
.features h1{
    text-align: left;
    margin-top: 10px;
    font-weight: 100;
    font-size: 400%;
    padding-left: 60px;
    color:#4ea0e4;
}
.features-desc{

    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 200%;
    padding-top: 8vh;
}
#feature-btn{
    position: absolute;
    padding-left: 850px;
    padding-top: 60vh;
}

#feature-btn a{
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #025dcdac;
    opacity: 0.5;
    transition: opacity 1s ease;
    border-radius: 10px;
}
.feature-box:hover #feature-btn a {
    opacity: 1;
  }
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control the darkness */
  z-index: 4;
  display: none;
}
  #btn-nav{
    width: 850px;
    height: 120vh;
    right: 500px;
    top: 280vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 50px;
    position:absolute;

}
#btn-nav h1{
    font-size: 50%;
    color: #fff;
    padding: 50px;
}
#featureclose-btn{
    margin-top: 7vh;
    margin-left: 550px;
    width: 200px;
    height: 5vh;
}
#featureclose-btn b{
    color: black;
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    transition: opacity 1s ease;
    background-color: #ffffff;
    border-radius: 10px;
}
nav ul{
    padding-top: 350px;
}

nav ul li{
    
    list-style: none;
    margin: 150px 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 200%;
    
}


  .feature-box1{
    width: 90%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-color: #025dcda0;
    border-radius: 20px;
    padding-left: 20px;
}
.features1{
    flex-basis: 50%;
}
.features-img1{
    flex-basis: 50%;
    margin: auto;
    top: 10%;
}
.features-img1 img{
    width: 70%;
    border-radius: 10px;
    padding-top: 0.5%;
}
.features1 h1{
    text-align: left;
    margin-top: 10px;
    font-weight: 100;
    font-size: 400%;
    padding-left: 60px;
    color:#4ea0e4;
}
.features-desc1{

    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 200%;
    padding-top: 8vh;
}
#feature-btn1{
    position: absolute;
    padding-left: 850px;
    padding-top: 60vh;
}
#feature-btn1 a{
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    opacity: 0.5;
    transition: opacity 1s ease;
    text-align: center;
    background-color: #025dcdac;
    border-radius: 10px;
}
.feature-box1:hover #feature-btn1 a {
    opacity: 1;
  }

  #btn1-nav{
    width: 850px;
    height: 120vh;
    right: 500px;
    top: 360vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 50px;
    position:absolute;

}
    #btn1-nav h1{
    font-size: 50%;
    color: #fff;
    padding: 50px;
}
#featureclose-btn1{
    margin-top: 7vh;
    margin-left: 550px;
    width: 200px;
    height: 5vh;
}
#featureclose-btn1 b{
    color: black;
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    transition: opacity 1s ease;
    background-color: #ffffff;
    border-radius: 10px;
}
nav ul{
    padding-top: 350px;
}

nav ul li{
    
    list-style: none;
    margin: 150px 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 200%;
    
}






#feature-btn2{
    position: absolute;
    padding-left: 850px;
    padding-top: 60vh;
}

#feature-btn2 a{
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    opacity: 0.5;
    transition: opacity 1s ease;
    background-color: #025dcdac;
    border-radius: 10px;
}
.feature-box2:hover #feature-btn2 a {
    opacity: 1;
  }

#btn2-nav{
    width: 850px;
    height: 120vh;
    right: 500px;
    top: 440vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 50px;
    position:absolute;

}
    #btn2-nav h1{
    font-size: 50%;
    color: #fff;
    padding: 50px;
}
#featureclose-btn2{
    margin-top: 7vh;
    margin-left: 550px;
    width: 200px;
    height: 5vh;
}
#featureclose-btn2 b{
    color: black;
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    transition: opacity 1s ease;
    background-color: #ffffff;
    border-radius: 10px;
}

nav ul{
    padding-top: 350px;
}

nav ul li{
    
    list-style: none;
    margin: 150px 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 200%;
    
}





#feature-btn3{
    position: absolute;
    padding-left: 850px;
    padding-top: 60vh;
}

#feature-btn3 a{
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    opacity: 0.5;
    transition: opacity 1s ease;
    background-color: #025dcdac;
    border-radius: 10px;
}
.feature-box3:hover #feature-btn3 a {
    opacity: 1;
  }

  #btn3-nav{
    width: 850px;
    height: 120vh;
    right: 500px;
    top: 520vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 50px;
    position:absolute;

}
#btn3-nav h1{
    font-size: 50%;
    color: #fff;
    padding: 50px;
}
#featureclose-btn3{
    margin-top: 7vh;
    margin-left: 550px;
    width: 200px;
    height: 5vh;
}
#featureclose-btn3 b{
    color: black;
    width: 200px;
    height: 4vh;
    text-decoration: none ;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    transition: opacity 1s ease;
    background-color: #ffffff;
    border-radius: 10px;
}
nav ul{
    padding-top: 350px;
}

nav ul li{
    
    list-style: none;
    margin: 150px 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 200%;
    
}






.feature-box2{
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-color: #025dcda0;
    border-radius: 20px;
    padding-left: 20px;
}
.features2{
    flex-basis: 50%;
}
.features-img2{
    flex-basis: 50%;
    margin: auto;
}
.features-img2 img{
    width: 70%;
    border-radius: 10px;
    padding-top: 0.5%;
}
.features2 h1{
    text-align: left;
    margin-top: 10px;
    font-weight: 100;
    font-size: 400%;
    padding-left: 60px;
    color:#4ea0e4;
}
.features-desc2{

    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 200%;
    padding-top: 8vh;
}

.feature-box3{
    width: 90%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-color: #025dcda0;
    border-radius: 20px;
    padding-left: 20px;
}
.features3{
    flex-basis: 50%;
}
.features-img3{
    flex-basis: 50%;
    margin: auto;
}
.features-img3 img{
    width: 70%;
    border-radius: 10px;
    padding-top: 0.5%;
}
.features3 h1{
    text-align: left;
    margin-top: 10px;
    font-weight: 100;
    font-size: 400%;
    padding-left: 60px;
    color:#4ea0e4;
}
.features-desc3{

    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 200%;
    padding-top: 8vh;
}


/*-------stroke----*/

.stroke {
width: 70px;
height: 250vh;
left: 1280px;
background: linear-gradient(#5488e9,#ffffff);
position: absolute;
border-radius: 10px;
}
.randomtext{
    width: 1363px;
    height: 10vh;
    padding-top: 13vh;
    text-align: center;
    font-size: 350%;
}


/* upcoming events */

#event{
    width: 1363px;
    height: 2000px;
    position: absolute;
    padding-top: 0vh;
    margin-top: 500px;
}

.Events-box{
        width: 1300px;
        height: 2000px;
        position: absolute;
        border: 1px solid black;
        border-radius: 30px;
        margin-left: 31.5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.Events-scroll{
    width: 1300px;
    height: 1800px;
    position: absolute;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 45vh;
    margin-left: 0px;
}
.Events-scroll::-webkit-scrollbar {
    height: 20px;
  }
  
  .Events-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .Events-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .Events-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.Events-scroll img{
    position: relative;
    width: 1100px;
    height: 1400px;
    border-radius: 50px;
    margin-right: 100px;
    margin-left: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.overlay1{
    width: 1100px;
    height: 1410px;
    margin-right: 200px;
    margin-top: -1410px;
    position: absolute;
    background: linear-gradient(#214485,#3591ce00);
    z-index: 1;
    border-radius: 50px;
    margin-left: 100px;
}
.upEvents {
    position: absolute;
    font-size: 600%;
    margin-top: 10vh;
    padding: 30px;
    left: 80px;
    z-index: 2;
    width: 1100px;
    text-align: center;
    font-weight: lighter;
    border-radius: 30px;
    color: #000;
}


.swipe{
    position: absolute;
    top: 11%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 8px 20px;
    color: black;
    font-size: 20px;
    border-radius: 20px; 
    background-color: #4ea0e41d; 
    width: 550px;
}
.Jerk {
    position: absolute;
    top: 25%;
    left: 0px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 500%;
    border-radius: 20px;
    width: 1300px;
    height: 400px;
    text-align: center;
    z-index: 2;
    background-color: #0045bb00;
    border: 1px solid black;
    border-color: #00000000;
  }
  .date1{
    position: absolute;
    top: 50%;
    color: rgba(255, 255, 255, 0.647);
    font-weight: lighter;
    font-size: 350%;
    border-radius: 20px;
    width: 1300px;
    height: 400px;
    text-align: center;
    z-index: 2;
    background-color: #0045bb00;
    border: 1px solid black;
    border-color: #00000000;
  }
  .overlay2{
    width: 1100px;;
    height: 1410px;
    margin-right: 300px;
    margin-top: -1410px;
    position: absolute;
    background: linear-gradient(#214485,#3591ce00);
    z-index: 1;
    border-radius: 50px;
    margin-left: 1404px;
}
.overlay-button {
    position: absolute;
    width: 400px;
    height: 130px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4ea0e4;
    color: #000000;
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: opacity 1s ease;
    border-radius: 30px;
    z-index: 4;
  }
  .overlay-button a{
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
  }
  
  .overlay-button1 {
    position: absolute;
    width: 400px;
    height: 130px;
    top: 60%;
    left: 150%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4ea0e4;
    color: #000000;
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: opacity 1s ease;
    border-radius: 30px;
    z-index: 4;
  }
  .overlay-button1 a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }
  
  .Events-scroll:hover .overlay-button1 {
    opacity: 1;
  }

  .Jerk1 {
    position: absolute;
    top: 20%;
    left: 1300px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 600%;
    border-radius: 20px;
    width: 1300px;
    height: 400px;
    text-align: center;
    z-index: 2;
    background-color: #0045bb00;
    border: 1px solid black;
    border-color: #00000000;
  }
  .date2{
    position: absolute;
    top: 45%;
    left: 1263px;
    color: rgba(255, 255, 255, 0.647);
    font-weight: lighter;
    font-size: 350%;
    border-radius: 20px;
    width: 1300px;
    height: 400px;
    text-align: center;
    z-index: 2;
    background-color: #0045bb00;
    border: 1px solid black;
    border-color: #00000000;
  }
  .Events-scroll:hover .Jerk1 {
    opacity: 1;
    background-color: #025dcd00;
  }
  .overlay-button2 {
    position: absolute;
    width: 400px;
    height: 130px;
    top: 65%;
    left: 250%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4ea0e4;
    color: #000000;
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: opacity 1s ease;
    border-radius: 30px;
    z-index: 4;
  }
  .overlay-button2 a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
  }
  
  .Events-scroll:hover .overlay-button2 {
    opacity: 1;
  }
  .Jerk2 {
    position: absolute;
    top: 25%;
    left: 2800px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 600%;
    border-radius: 20px;
    width: 900px;
    height: 400px;
    text-align: center;
    z-index: 2;
    background-color: #0045bb00;
    border: 1px solid black;
    border-color: #00000000;
  }
  .date3{
    position: absolute;
    top: 50%;
    left: 2790px;
    color: rgba(255, 255, 255, 0.647);
    font-weight: lighter;
    font-size: 350%;
    border-radius: 20px;
    width: 900px;
    height: 400px;
    text-align: center;
    z-index: 2;
    background-color: #0045bb00;
    border: 1px solid black;
    border-color: #00000000;
  }
  .overlay3{
    width: 1100px;;
    height: 1410px;
    margin-right: 300px;
    margin-top: -1410px;
    position: absolute;
    background: linear-gradient(#214485,#3591ce00);
    z-index: 1;
    border-radius: 50px;
    margin-left: 2700px;
}
  
  .Events-scroll:hover .Jerk2 {
    opacity: 1;
    background-color: #025dcd00;
  }

.Escroll-box{
    width: 200px;
    height: 78vh;
    top:15%;
    left: 80%;
    position: absolute;
    border-radius: 20px;
    background-color: #4ea0e400;
    border: 1px solid black;
    border-color: #5488e988;
}
.Escroll-box h3{
    color: black;
    text-align: center;
    padding-top: 5%;
    font-weight: lighter;
}
.Escroll-box p{
    color: black;
    text-align: left;
    font-size: 90%;
    padding-top: 25%;
    opacity: 0;
    transition: opacity 1s ease;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
} 
.Events-scroll:hover .Escroll-box p{
    opacity: 1;
  }
.Escroll-box1{
    width: 200px;
    height: 78vh;
    top:15%;
    left: 180%;
    position: absolute;
    border-radius: 20px;
    background-color: #4ea0e400;
    border: 1px solid black;
    border-color: #5488e988;
}
.Escroll-box1 h3{
    color: black;
    text-align: center;
    padding-top: 5%;
    font-weight: lighter;
}
.Escroll-box1 p{
    color: black;
    text-align: left;
    font-size: 90%;
    padding-top: 25%;
    opacity: 0;
    transition: opacity 1s ease;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}
.Events-scroll:hover .Escroll-box1 p{
    opacity: 1;
  }
.Escroll-box2{
    width: 200px;
    height: 78vh;
    top:15%;
    left: 280%;
    position: absolute;
    border-radius: 20px;
    background-color: #4ea0e400;
    border: 1px solid black;
    border-color: #5488e988;
}
.Escroll-box2 h3{
    color: black;
    text-align: center;
    padding-top: 5%;
    font-weight: lighter;
}
.Escroll-box2 p{
    color: black;
    text-align: left;
    font-size: 90%;
    padding-top: 25%;
    opacity: 0;
    transition: opacity 1s ease;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}
.Events-scroll:hover .Escroll-box2 p{
    opacity: 1;
  }
.oval p{
    border-radius: 30px;
    width:200px;
    height: 40px;
    position: absolute;
   font-size: larger;
   left: 400px;
   top: 20px;
   background-color: #4ea0e400;
   border: 1px solid black;
   border-color: #5488e988;
   display: none;
}

#motivation{
    margin-top: 350vh;
    width: 1363px;
    text-align: center;
}
#motivation h2{
    font-size: 600%;
}
#motivation h5{
    font-size: 300%;
    font-weight: lighter;
}
/***********CDC***************/

#CDCs{
    position: absolute;
    width: 1363px;
    height: 950vh;
    margin-top: 37vh;
    z-index: -1;
    background-color: #47343407;
}
.cdc{
    width: 1000px;
    height: 55px;
    left: 180px;
    top: 15vh;
    padding-top: 2vh;
    position: relative;
    text-align: center;
    border-radius: 30px;
    font-size: 80px;
    color: #000;
}
.cdc1{
    width: 1100px;
    height: 80vh;
    background-color: #5488e91a;
    left: 10%;
    top: 70vh;
    position: absolute;
    border-radius: 20px;
}
.cdc1sqr p{
    width: 970px;
    height: 50vh;
    left: 3%;
    top: 60vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    padding: 30px;
}
.cdc1sqr2 p{
    width: 700px;
    height: 20px;
    left: 10%;
    top: 101vh;
    position: absolute;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 400%;
    padding-right: 10px;
    font-weight: bolder;
    color: #4ea0e4;
}
.cdc1sqr3 p{
    width: 300px;
    height: 70px;
    left: 65%;
    top: 100vh;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    padding-top: 15px;
    cursor: pointer;
    color: #fff;
}
.cdc1sqr3 p a{
    width: 300px;
    text-decoration: none ;
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #4ea0e4a1;
    border-radius: 20px;
    padding-top: 15px;
    height: 80px;
}
.cdc1sqr3 p span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.cdc1sqr3 p a:hover span{
    width: 100%;
}
.cdc1sqr3 p a:hover{
    color:#357ace ;
}
.cdc1sqr3 p b{
    font-size: 210%;
}
.cdc11{
    width: 1175px;
    height: 100vh;
    left: 7%;
    top: 65vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
}
.cdc1 img{
    width: 700px;
    height: 50vh;
    left: 18%;
    top: 25px;
    position: absolute;
    border-radius: 30px;
    opacity: 1;
}


.cdc2{
    width: 1100px;
    height: 80vh;
    background-color: #5488e91a;
    left: 3.5%;
    top: 150vh;
    position: absolute;
    border-radius: 20px;
}
.cdc2sqr p{
    width: 970px;
    height: 50vh;
    left: 3%;
    top: 60vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    padding: 30px;
}
.cdc2sqr2 p{
    width: 700px;
    height: 20px;
    left: 10%;
    top: 101vh;
    position: absolute;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 400%;
    padding-right: 10px;
    font-weight: bolder;
    color: #4ea0e4;
}
.cdc2sqr3 p{
    width: 300px;
    height: 70px;
    left: 65%;
    top: 100vh;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    font-size: 300%;
    padding-top: 15px;
    cursor: pointer;
    color: #fff;
}
.cdc2sqr3 p a{
    width: 300px;
    text-decoration: none ;
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #4ea0e4a1;
    border-radius: 20px;
    padding-top: 15px;
    height: 80px;
}
.cdc2sqr3 p span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.cdc2sqr3 p a:hover span{
    width: 100%;
}
.cdc2sqr3 p a:hover{
    color:#357ace ;
}
.cdc2sqr3 p b{
    font-size: 210%;
}
.cdc22{
    width: 1175px;
    height: 100vh;
    left: 0%;
    top: 145vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
}
.cdc2 img{
    width: 700px;
    height: 50vh;
    left: 18%;
    top: 25px;
    position: absolute;
    border-radius: 30px;
    opacity: 1;
}


.cdc3{
    width: 1100px;
    height: 80vh;
    background-color: #5488e91a;
    left: 3%;
    top: 150vh;
    position: absolute;
    border-radius: 20px;
}
.cdc3sqr p{
    width: 970px;
    height: 50vh;
    left: 3%;
    top: 60vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    padding: 30px;
}
.cdc3sqr2 p{
    width: 700px;
    height: 20px;
    left: 10%;
    top: 101vh;
    position: absolute;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 400%;
    padding-right: 10px;
    font-weight: bolder;
    color: #4ea0e4;
}
.cdc3sqr3 p{
    width: 300px;
    height: 70px;
    left: 65%;
    top: 100vh;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    font-size: 300%;
    padding-top: 15px;
    cursor: pointer;
    color: #fff;
}
.cdc3sqr3 p a{
    width: 300px;
    text-decoration: none ;
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #4ea0e4a1;
    border-radius: 20px;
    padding-top: 15px;
    height: 80px;
}
.cdc3sqr3 p span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.cdc3sqr3 p a:hover span{
    width: 100%;
}
.cdc3sqr3 p a:hover{
    color:#357ace ;
}
.cdc3sqr3 p b{
    font-size: 210%;
}
.cdc33{
    width: 1175px;
    height: 100vh;
    left: 0%;
    top: 145vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
}
.cdc3 img{
    width: 700px;
    height: 50vh;
    left: 18%;
    top: 25px;
    position: absolute;
    border-radius: 30px;
    opacity: 1;
}



.cdc4{
    width: 1100px;
    height: 80vh;
    background-color: #5488e91a;
    left: 3%;
    top: 150vh;
    position: absolute;
    border-radius: 20px;
}
.cdc4sqr p{
    width: 970px;
    height: 50vh;
    left: 3%;
    top: 60vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    padding: 30px;
}
.cdc4sqr2 p{
    width: 700px;
    height: 20px;
    left: 10%;
    top: 101vh;
    position: absolute;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 400%;
    padding-right: 10px;
    font-weight: bolder;
    color: #4ea0e4;
}
.cdc4sqr3 p{
    width: 300px;
    height: 70px;
    left: 65%;
    top: 100vh;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    font-size: 300%;
    padding-top: 15px;
    cursor: pointer;
    color: #fff;
}
.cdc4sqr3 p a{
    width: 300px;
    text-decoration: none ;
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #4ea0e4a1;
    border-radius: 20px;
    padding-top: 15px;
    height: 80px;
}
.cdc4sqr3 p span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.cdc4sqr3 p a:hover span{
    width: 100%;
}
.cdc4sqr3 p a:hover{
    color:#357ace ;
}
.cdc4sqr3 p b{
    font-size: 210%;
}
.cdc44{
    width: 1175px;
    height: 100vh;
    left: 0%;
    top: 145vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
}
.cdc4 img{
    width: 700px;
    height: 50vh;
    left: 18%;
    top: 25px;
    position: absolute;
    border-radius: 30px;
    opacity: 1;
}


.cdc5{
    width: 1100px;
    height: 80vh;
    background-color: #5488e91a;
    left: 3%;
    top: 150vh;
    position: absolute;
    border-radius: 20px;
}
.cdc5sqr p{
    width: 970px;
    height: 50vh;
    left: 3%;
    top: 60vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    padding: 30px;
}
.cdc5sqr2 p{
    width: 700px;
    height: 20px;
    left: 10%;
    top: 101vh;
    position: absolute;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 400%;
    padding-right: 10px;
    font-weight: bolder;
    color: #4ea0e4;
}
    .cdc5sqr3 p{
        width: 300px;
        height: 70px;
        left: 65%;
        top: 100vh;
        position: absolute;
        border-radius: 30px;
        text-align: center;
        font-size: 300%;
        padding-top: 15px;
        cursor: pointer;
        color: #fff;
    }
    .cdc5sqr3 p a{
        width: 300px;
        text-decoration: none ;
        display: inline-block;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        background-color: #4ea0e4a1;
        border-radius: 20px;
        padding-top: 15px;
        height: 80px;
    }
    .cdc5sqr3 p span{
        width: 0;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background: #fff;
        z-index: -1;
        transition: 0.5s;
        border-radius: 10px;
    }
    .cdc5sqr3 p a:hover span{
        width: 100%;
    }
    .cdc5sqr3 p a:hover{
        color:#357ace ;
    }
    .cdc5sqr3 p b{
        font-size: 210%;
    }
.cdc55{
    width: 1175px;
    height: 100vh;
    left: 0%;
    top: 145vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
}
.cdc5 img{
    width: 700px;
    height: 50vh;
    left: 18%;
    top: 25px;
    position: absolute;
    border-radius: 30px;
    opacity: 1;
}


.cdc6{
    width: 1100px;
    height: 80vh;
    background-color: #5488e91a;
    left: 3%;
    top: 150vh;
    position: absolute;
    border-radius: 20px;
}
.cdc6sqr p{
    width: 970px;
    height: 50vh;
    left: 3%;
    top: 60vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    padding: 30px;
}
.cdc6sqr2 p{
    width: 700px;
    height: 20px;
    left: 10%;
    top: 101vh;
    position: absolute;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 400%;
    padding-right: 10px;
    font-weight: bolder;
    color: #4ea0e4;
}
.cdc6sqr3 p{
    width: 300px;
    height: 70px;
    left: 65%;
    top: 100vh;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    font-size: 300%;
    padding-top: 15px;
    cursor: pointer;
    color: #fff;
}
.cdc6sqr3 p a{
    width: 300px;
    text-decoration: none ;
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    text-align: center;
    background-color: #4ea0e4a1;
    border-radius: 20px;
    padding-top: 15px;
    height: 80px;
}
.cdc6sqr3 p span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.cdc6sqr3 p a:hover span{
    width: 100%;
}
.cdc6sqr3 p a:hover{
    color:#357ace ;
}
.cdc6sqr3 p b{
    font-size: 210%;
}




.cdc66{
    width: 1175px;
    height: 100vh;
    left: 0%;
    top: 145vh;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    border-color: #5488e988;
}
.cdc6 img{
    width: 700px;
    height: 50vh;
    left: 18%;
    top: 25px;
    position: absolute;
    border-radius: 30px;
    opacity: 1;
}

#anything-else{
    position: absolute;
    margin-top: 1000vh;
    width: 1363px;text-align: center;
    font-size: 400%;
}
.search1{
    position: absolute;
    height: 200px;
    width: 1363px;
    top: 40vh;

}
#search1-bar{
    position: absolute;
    height: 180px;
    width: 1120px;
    background-color: #5488e94b;
    border: 1px solid black;
    border-color: #4ea0e422;
    border-radius: 100px;
    font-size: 100%;
    text-align: left;
    padding-left: 80px;
    left: 6%;
}
#search1-button{
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: 40px;
    left: 1100px;
    background-color: #357ace00;
    border: 1px solid black;
    border-color: #357ace00;
    z-index: 8;
}
#search1-button img{
    width: 120px;
    height: 120px;
}
#suggestions1 {
    list-style-type: none;
    background-color: #ffffff;
    width: 900px;
    margin-left: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    margin-top: 25vh;
    display: none;
    border-radius: 20px;
    text-decoration: none ;
    z-index: 1;
    position: absolute;
}
#suggestions1 li {
    background-color: #0045bba7;
    height: 200px;
    width: 850px;
    padding: 18px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom:25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    z-index: 99;
}
#suggestions1 li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 120%;
    width: 200%;
}

#suggestions1 li:hover {
    background-color: #0045bb;
}
.search1-bar-active #suggestions1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: block; /* Show the suggestions box when search bar is active */
}



#buttons{
    position: absolute;
    margin-top: 1080vh;
    width: 1320px;
    text-align: center;
    font-size: 400%;
    height: 1000px;
    margin-left: 30px;
}
.navigation-button {
    background-color: #5488e9a3;
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    height: 150px;
    border-radius: 50px;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }


  .socials{
    width: 100%;
    height: 500px;
    margin-top: 30vh;
    position: absolute;
    border-radius: 20px;
}
.socials img{
    float: center;
    margin: 10px;
    margin-right: 150px;
    margin-top: 100px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #3591ce00;
}
.socials a{
   background-color: #3591ce00;
}


} 




